@font-face {
  font-family: 'iconfont';  /* Project id 2595441 */
  src: url('//at.alicdn.com/t/font_2595441_nu7u8gjz49q.woff2?t=1623066256202') format('woff2'),
       url('//at.alicdn.com/t/font_2595441_nu7u8gjz49q.woff?t=1623066256202') format('woff'),
       url('//at.alicdn.com/t/font_2595441_nu7u8gjz49q.ttf?t=1623066256202') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px;  */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

